<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

    <!-- UserServiceImpl 빈 -->
    <bean id="userService" class="com.example.service.UserServiceImpl">
        <constructor-arg ref="userDao"/>
        <constructor-arg ref="upgradePolicy"/>
        <constructor-arg ref="mailSender"/>
    </bean>


    <!-- UserServiceTx 빈 -->


    <!-- MailSender 빈 -->
    <bean id="mailSender" class="com.example.service.mail.GmailMailSender"/>

    <!-- UpgradePolicy 빈 -->
    <bean id="upgradePolicy" class="com.example.service.upgrade.UsualUpgradePolicy"/>

    <!-- PlatformTransactionManager 빈 -->
<!--    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">-->
<!--        <property name="dataSource" ref="dataSource"/>-->
<!--    </bean>-->

<!--    <bean id="transactionAdvice" class="com.example.service.TransactionAdvice">-->
<!--        <property name="transactionManager" ref="transactionManager"/>-->
<!--    </bean>-->
<!--    <bean id="transactionPointcut" class="org.springframework.aop.support.NameMatchMethodPointcut">-->
<!--        <property name="mappedName" value="upgrade*"/>-->
<!--    </bean>-->
<!--    <bean id="transactionAdvisor" class="org.springframework.aop.support.DefaultPointcutAdvisor">-->
<!--        <property name="advice" ref="transactionAdvice"/>-->
<!--        <property name="pointcut" ref="transactionPointcut"/>-->
<!--    </bean>-->
    <!-- UserDao 빈 -->
    <bean id="userDao" class="com.example.domain.UserDaoImpl">
        <constructor-arg ref="jdbcTemplate"/>
    </bean>

    <!-- ConnectionCreator 빈 -->
    <bean id="connectionCreator" class="com.example.domain.CountingConnectionCreatorDecorator">
        <constructor-arg ref="realConnectionCreator"/>
    </bean>

    <!-- Real ConnectionCreator 빈 -->
    <bean id="realConnectionCreator" class="com.example.domain.ConnectionCreatorImpl"/>

    <!-- DataSource 빈 -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/tobi"/>
        <property name="username" value="root"/>
        <property name="password" value="password"/>
    </bean>

    <!-- JdbcTemplate 빈 -->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <constructor-arg ref="dataSource"/>
    </bean>
    <tx:annotation-driven/>

</beans>

